*{
    background-color: darkgrey;
}
header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
    color: black;
    font-family: 'Butterfly Kids', cursive;
}
main {
    width: 500px;
    height: 80%;
    margin: auto;
    border-radius: 5%;
    
}
.container-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    background-color: rgba(77, 77, 216, 0.877);
    border-radius: 5%; 
}
.card{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: rgb(73, 64, 64);
    margin: 10px;
    
}

i {
    font-size: 50px;
    background-color: rgb(73, 64, 64);
    margin-left: 25px;
    margin-top: 25px;
    color: rgba(12, 12, 105, 0.877);
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #ffffff;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
}

.popup .close:hover {
    color: #E5F720;
}

.popup .content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    background-color: #ffffff;
}

#finalMove{
    background-color: #ffffff;
}
#totalTime{
    background-color: #ffffff;
}
#play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
@media all and (min-width: 480px) and (max-width: 768px) {
    main {
        width: 300px;
    }
    .card{
        width: 50px;
        height: 50px;
    }
    i {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }
 }